			</div> <!-- /row-fluid -->
		</div> <!-- /container -->

		<script src="/resources/bootstrap/js/jquery.js"></script>
		<script src="/resources/bootstrap/js/bootstrap-transition.js"></script>
		<script src="/resources/bootstrap/js/bootstrap-alert.js"></script>
		<script src="/resources/bootstrap/js/bootstrap-modal.js"></script>
		<script src="/resources/bootstrap/js/bootstrap-dropdown.js"></script>
		<script src="/resources/bootstrap/js/bootstrap-scrollspy.js"></script>
		<script src="/resources/bootstrap/js/bootstrap-tab.js"></script>
		<script src="/resources/bootstrap/js/bootstrap-tooltip.js"></script>
		<script src="/resources/bootstrap/js/bootstrap-popover.js"></script>
		<script src="/resources/bootstrap/js/bootstrap-button.js"></script>
		<script src="/resources/bootstrap/js/bootstrap-collapse.js"></script>
		<script src="/resources/bootstrap/js/bootstrap-carousel.js"></script>
		<script src="/resources/bootstrap/js/bootstrap-typeahead.js"></script>

	</body>
</html>
